 <div class="row milestone">
  <div class='col-sm-3'>
    <input type='text' name= 'milestones[<%= counter %>][name]' class="form-control input-lg milestonename" placeholder="Name of Milestone"/>
  </div>
   <div class='col-sm-4'>
    <div class="form-group">
      <div class='input-group date datetimepicker start_datetimepicker'>
        <input type='text' name='milestones[<%= counter %>][start_time]' class="form-control input-lg  start-time" placeholder="Start Date and Time"/>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class="form-group">
      <div class='input-group date datetimepicker end_datetimepicker'>
        <input type='text' name='milestones[<%= counter %>][end_time]' class="form-control input-lg  end-time" placeholder="End Date and Time" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-sm-1'>
    <button type="button" class="btn btn-lg btn-danger deletebutton">
      <span class="glyphicon glyphicon-trash"></span>&nbsp;
    </button>
  </div>
</div>